body {
    font-family: Arial, sans-serif;
    background-color: #F6E6CB;
    color: #6F4E37;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

header {
    background-color: #FED8B1;
    color: #6F4E37;
    padding: 50px;
    text-align: center;
    border: none;  
    border-radius: 8px;       
    box-shadow: none;
    margin: 20px;
    font-size: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #6F4E37;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #FED8B1;
    border-radius: 8px;
    border: none;  
    box-shadow: none;  
    font-size: 25px;
}   

footer {
    background-color: #A67B5B;
    color: #6F4E37;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media (min-width: 1024px) {
    img {
        max-width: 85%; 
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    img {
        max-width: 90%;
    }
}

@media (max-width: 767px) {
    img {
        max-width: 95%; 
    }
}

.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
 img {
    max-width: 70%;
    height: auto;
    display: block;
}
.main-content img, .sidebar img {
    max-width: 100%;
    height: auto;
}
img {
    width: 70%;
    height: auto;
    object-fit: cover; 
}
video {
    max-width: 50%; 
    height: auto; 
    display: block; 
}
.video-container {
    position: relative;
    width: 50%;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
